option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: development
    APP_URL: http://localhost.elasticbeanstalk.com
    APP_PORT: 8080
    MONGODB_URI: mongodb://localhost:27017/my-report?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
    JWT_SECRET: V5HSCUaliyf3BX6UTefxRjkY7eUgxDWI
    SENDGRID_KEY: xxxxxxxxxx
    DB_MYSQL_USERNAME: nadeera 
    DB_MYSQL_PASSWORD: password
    DB_MYSQL_DATABASE: mydata
    DB_MYSQL_HOST: localhost
    DB_MYSQL_PORT: 3306
