option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: development
    APP_URL: http://my-reporting-v1-env.eba-sms26npm.ap-southeast-1.elasticbeanstalk.com
    APP_PORT: 8080
    MONGODB_URI: mongodb://myReportingDBMaster:SccEWDcAS2@o2o-reporting-db-public.cluster-capzd9fgxyee.ap-southeast-1.docdb.amazonaws.com:27017/my-report?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
    JWT_SECRET: V5HSCUaliyf3BX6UTefxRjkY7eUgxDWI
    SENDGRID_KEY: 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
    DB_MYSQL_USERNAME: nadeera 
    DB_MYSQL_PASSWORD: 9343kjdjf98Kl34983923
    DB_MYSQL_DATABASE: mydata
    DB_MYSQL_HOST: dev-db-2.capzd9fgxyee.ap-southeast-1.rds.amazonaws.com
    DB_MYSQL_PORT: 3306
